
<div class="nav">
    <div class="row container">
        <ul class="nav-items-left">
            <li><a href="/">Home</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="about">About</a></li>
        </ul>
        <ul class="nav-items-right">
            
            <li><a href="/">Sign in</a></li>
            <li><a href="/">sign up</a></li>
        </ul>
    </div>
    
</div>

