* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.row {
    height: 10vh;
    width: 90%;
}

.nav-items-left {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 50%;
}

.nav-items-left li {
    list-style: none;
    width: 30%;
    font-size: 1.8em;
}


li a {
    text-decoration: none;
    color: powderblue;
}

li a:hover {
    color: crimson;
}


.nav-items-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    width: 50%;
}

.nav-items-right li {
    width: 20%;
    font-size: 1.8em;
}

